.html {
    height: 100%;
    overflow: hidden;
}


.body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15p;
    line-height: 1.6;
    color: rgb(4, 4, 4);



}

.fon {
    width: auto;
    background: linear-gradient(to bottom, #f38181, #fce38a);
}

*,
*:before,
*:after {
        box-sizing: border-box;
}

 h1, h2, h3, h4, h5, h6 {
    margin: 0;
 }

/* container */
.container {
    width: 100%;
    max-width: 1200p;
    margin: 0 auto;
}

/* intro */
.intro {
    width: 100%;
    height: 100vh;
    background: url("../IMG/1.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    border-radius: 15px;
}


.intro h1,
.intro p {
    position: absolute;
    top: 35%;
    left: 22%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.intro h1 {
    margin: 0;
    font-size: 36px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
}

.intro p {
    top: 40%;
    font-size: 18px;
    color: #333030;
    font-family: 'Kaushan Script';
}




/* header */
.header {
    width: 100%;
    padding-top: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.header__inner {
    display: flex;
    align-items: center;
}

/* nav */
.logo, nav a {
    padding: 10px 20px; /* Задайте желаемый внутренний отступ */
    margin: 10px 10px 10px; /* Задайте желаемый внешний отступ между элементами */
    border: 2px solid #333; /* Цвет и толщина границы */
    border-radius: 15px; /* Радиус закругления углов */
    text-decoration: none;
    color: #333; /* Цвет текста */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Добавление тени */
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(63, 12, 114);
}

.logo {
    font-size: 23px;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Добавление тени */
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    color: rgb(63, 12, 114);
    position: relative;

    transition: color .2s linear;
}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    display: none;

    background-color: #fce38a; 
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.nav__link:hover {
    color: #fce38a;
    background-color: #494242;
}

.nav__link:hover:after {
    display: block;
    content: ""; /* Добавьте эту строку, чтобы создать блочный элемент */
    width: 100%; /* Занимает 100% ширины родительского элемента */
    height: 100%; /* Занимает 100% высоты родительского элемента */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Помещаем его под текст, чтобы текст был поверх обводки */
    border-radius: 15px; /* Радиус закругления углов (если нужно) */
}

.music {
    position: fixed;
    cursor: pointer;
    transform: scale(1); /* начальный масштаб */
    font-size: 25px; /* Размер шрифта */
    position: fixed;
    top: 10px; /* Отступ сверху */
    right: 10px; /* Отступ справа */
    cursor: pointer; /* Добавляем указатель при наведении, чтобы было видно, что это интерактивный элемент */
}

.music:hover {
    transform: scale(1.5); /* увеличиваем размер до 100% при наведении */
}







.second__page {
    width: 100%;
    height: 100vh;
    background: url("../IMG/phonpage2.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    border-radius: 15px;
    z-index: 1;
}


.second__header {
    padding: 35px 0;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
}

.second__subtitle {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 24px;
    color: #333;
}

.second__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.second__title::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 27px auto 0;

    background-color: #f38181;
}

.second__text {
    font-size: 15px;
    color: #767474;
}

/* About */
.about {
    margin-left: 25px; 
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
}

.about__item {
    width: 380px;
    position: relative;

    background-color: #95e1d3;
}

.about__item:hover .about__img {
    transform: translate3d(-10px, -10px, 0);
}


.about__item:hover .about__img img {
    opacity: .1;
}

.about__item:hover .about__text {
    opacity: 1;
}

.about__img {
    background: linear-gradient(to bottom, #f38181, #fce38a);

    transition: transform .1s linear;
}

.about__img img {
    display: block;
    transition: opacity .1s linear;
}

.about__text {
    width: 100%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    opacity: 0;

    transition: opacity .1s linear;
}

/* statistics */

.statistics {
    background-color: #95e1d3;
    border-radius: 80px;
}

.stat {
    display: flex;
}

.stat__item {
    flex: 1 1 0;
    padding: 50px 25px;
    border-left: 1px solid #b5eae0;

    text-align: center;
    color: #fff;
}

.stat__item:last-child {
    border-right: 1px solid #b5eae0;
}

.stat__count {
    margin-bottom: 10px;

    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}

.stat__text {
    font-size: 14px;
    text-transform: uppercase;
}


.third__page {
    width: 100%;
    height: 100vh;
    background: url("../IMG/grad_1.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    border-radius: 120px;
    z-index: 1;
}

.third__header {
    padding: 35px 0;
    width: 100%;
    max-width: 950px;
    margin: 0 auto; 
    text-align: center;
}

.third__subtitle {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 24px;
    color: #c9c6b5;
}

.third__title {
    font-size: 8px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.third__title::after {
    content: "";
    display: block;
    width: 183px;
    height: 3px;
    margin: 25px auto 0;

    background-color: #f38181;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(169, 169, 169, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.overlay__content {
    max-width: 1000px;
    width: 100%;
    height: 450px;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.overlay p {
    margin: 0;
    text-align: center;
}



.third__text {
    font-size: 15px;
    color: #e0ddc8;
    top: 40%;
    font-size: 18px;
    font-family: 'Cedarville Cursive', cursive;
}




/* Menager */

.about_m {
    margin-left: 25px; 
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
}

.about__per {
    width: 380px;
    position: relative;

    background-color: #e0ddc8;
}

.about__per:hover .about__pt {
    transform: translate3d(-10px, -10px, 0);
}


.about__per:hover .about__pt img {
    opacity: .1;
}

.about__per:hover .about__text_per {
    opacity: 1;
}

.about__pt {
    background: linear-gradient(to bottom, #8516a1, #385cbd);

    transition: transform .1s linear;
}

.about__pt img {
    display: block;
    transition: opacity .1s linear;
}

.about__text_per {
    width: 100%;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 50%;
    left: -10px;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    opacity: 0;

    transition: opacity .1s linear;

    font-family: 'Cedarville Cursive', cursive;
}


/* Fourth page */
.fourth__page {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background: url("../IMG/page$.jpg") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    position: relative;
    border-radius: 250px;
    z-index: 1;
    overflow: hidden;
}

.anime_text {
    position: relative;
    width: 100%;
    height: 100%;
}

.icon {
    position: absolute;
    font-size: 50px;
    top: 70px;
    left: 50%; /* изменено на 50% */
    transform: translateX(-50%); /* добавлено для центрирования */
    cursor: pointer;
}

.text {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.anime_text.active .text {
    opacity: 1;
}

.bottom-left {
    position: absolute;
    bottom: 15%;
    left: 55px;
    width: 380px;
    height: 250px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    font-size: 14px;
}


.text.top-right {
    position: absolute;
    top: 12%;
    right: 55px;
    width: 380px;
    height: 250px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto; /* Добавлено, чтобы добавить прокрутку, если текст не помещается */
    font-size: 14px; /* Регулируйте размер текста по вашему вкусу */
}

/* fifth page */
.fifth__page {
    width: 100%;
    height: 100vh;
    position: relative;
    border-radius: 15px;
    z-index: 1;
    overflow: hidden;
  }
  
  .fifth__page::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../IMG/phonpage2.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    transform: rotate(135deg) scaleY(-1);
    z-index: -1;
  }  
  



.fifth__head {
    padding: 35px 0;
    width: 100%;
    max-width: 520px;
    margin: 0 auto; 
    text-align: center;
}

.fifth__subtitle {
    top: 20px;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 24px;
    color: #454334;
}

.route-image img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.route-description p {
    color: #666;
    line-height: 1.6;
}

.book-button {
    /* Стили для кнопки "Забронировать" */
    position: fixed;    
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #efd616; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* Дополнительные стили, в зависимости от дизайна сайта */
    font-size: 16px;
    font-weight: bold;
}

.book-button::after {
    /* Стили для дополнительного содержимого от себя (может быть иконка, текст и т.д.) */
    content: 'Забронировать тур ✍'; /* Замените это на ваше содержимое */
    margin-left: 5px; /* Расстояние от кнопки до дополнительного содержимого */
}


/* Paralax */

.layers__item {
    position: absolute;
    inset: -5vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.layer-1 {
    transform: translateZ(-55px) scale(1.06);
}
.layers__container {
    height: 100vh;
    min-height: 500px;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
    will-change: transform;
    transition: transform var(--transition);
}




/* Sixth page (continuation Fifth page)*/

.sixth__page {
    width: 100%;
    height: 100vh;
    position: relative;
    border-radius: 15px;
    z-index: 1;
    overflow: hidden; /* Добавляем overflow: hidden для скрытия отзеркаленного контента */
  }
  
  .sixth__page::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../IMG/phonpage2.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    transform: rotate(225deg) scaleY(1);
    z-index: -1;
  }
  

.sixth__head {
    padding: 10px 0;
    width: 100%;
    max-width: 480px;
    margin: 0 auto; 
    text-align: center;
}

.sixth__subtitle {
    top: 10px;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 24px;
    color: #454334;
}

.route-image img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.route-description p {
    color: #666;
    line-height: 1.6;
}



/* Person */

.under {
    margin-left: 25px; 
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
}

.person {
    width: 380px;
    position: relative;

    background-color: #d8b95b;
}

.person:hover .about__self {
    transform: translate3d(-10px, -10px, 0);
}


.person:hover .about__self img {
    opacity: .1;
}

.person:hover .text_per {
    opacity: 1;
}

.about__self {
    background: linear-gradient(to bottom, #16f3be, #3c8bf4);

    transition: transform .1s linear;
}

.about__self img {
    display: block;
    transition: opacity .1s linear;
}

.text_per {
    width: 100%;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    position: absolute;
    top: 50%;
    left: -10px;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    opacity: 0;

    transition: opacity .1s linear;

    font-family: 'Cedarville Cursive', cursive;
}

/* Seventh page */

.seventh__page {

}
.seventh__header {
    width: 100%;
    height: 100vh;
    background: url("../IMG/") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    border-radius: 15px;
}

.seventh__subtitle {

}

.feedback {

}

.seventh__title {
    
}



/* Last page */

.last__page {
    width: 100%;
    height: 100vh;
    background: url("../IMG/1.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    border-radius: 15px;
}




.line {
    background-color: #95e1d3;
    border-radius: 80px;
}

.line__stat {
    display: flex;
}

.line__stat__item {
    flex: 1 1 0;
    padding: 10px 25px;
    border-left: 1px solid #b5eae0;

    text-align: center;
    color: #fff;
}

.line__stat__item:last-child {
    border-right: 1px solid #b5eae0;
}

.line__stat__count {
    margin-bottom: 10px;

    font-size: 36px;
    font-weight: 300;
    line-height: 1;
}

.line__stat__text {
    font-size: 14px;
    text-transform: uppercase;
}